body {
    width: 100%;
    font-family: 'mpr', serif;
    letter-spacing: normal;
    box-sizing: border-box;
    padding: 0;
    color: #000000;
    font-size: 16px;
    position: relative;
    li{
        list-style-type: none;
    }
}